Absolute URLs without schema not working

Restangular 1.4 did support schema-less URLs like `//localhost/dummy` but restangular 1.5 no longer does.

The expected behaviour is, that the schema of the base url is used (`http:` or `https:`) and added to the beginning of the URL, which is then interpreted as absolute URL.

With current version (1.5.1 at time of writing), double slashes are replaced by single slashes. The URL `//localhost/dummy` therefore becomes `http://localhost/localhost/dummy`. There is a special treatment for prefix `http[s]://`, but not for the schema-less syntax.

Please see [https://tools.ietf.org/html/rfc1808#section-4](RFC 1808 (section 4)) if you want to know more about schema-less URLs.

This was addressed in #1374. Let me know if there's any issue, but for now, I'm going to close this issue.